@font-face {
    font-family: PPMon;
    src: url('./PPNeueMontreal-Medium.88ee7c9.woff2');
}
@font-face {
    font-family: Found;
    src: url('./founders-grotesk-x.cd2d353.woff2');
}

:root{
    --primary:#E5E7DF;
    --secondary:#1E1E1E;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;

}